.superior {
    background-color: #ec7404;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}


.img_logo img {
    max-height: 120px;
}

.img_responsivo{
    width: 80px;
    height: 100px;
    margin-left: 20px;
    
}

.superior button {
    border: 1px solid #ffffff;
    color: #ffffff;
}


.raio_x{
    margin-top: 0%;
    width: 50%;
    height: 150px;

}

.body {
    display: inline;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    
}

#texto {
    
    margin-left: 0px;
    background: rgb(236,116,4);
    background: linear-gradient(90deg, rgba(236,116,4,1) 7%, rgba(236,116,4,0.6587009803921569) 30%, rgba(255,255,255,0) 100%);
    height: fit-content;
    width: 35%;
    padding: 15px 15px 15px 150px;

}


.body h2 {
    position: absolute;
    right: 0%;
    top: 50%;
    left: 0%;
    bottom: 0;
    color: #231d19;
    font-family: "ItauDisplay-XBold", "Myriad Pro", Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
    
}

.body .vitrine img {
    border-radius: 3px;
    position: absolute;
    right: 0%;
    top: 20%;
    left: 45%;
    bottom: 0;
}

.form {
    width: 15vw;
    margin-left: 50%;
    display: flex;
}

.form input {
    height: 5vh;
    width: 7vw;
    text-align: center;
    border-radius: 3px;
    margin-left: 1%;
    border: #ffffff;
}


.vitrine {
    padding-bottom: 30%;
    border: white;
    background-repeat: no-repeat;
}


h2 {
    line-height: 100%;
    font-family: "ItauDisplay-XBold", "Myriad Pro", Arial;
    margin-bottom: 8px;
    margin-left: 12%;
}

.button {
    margin-left: 5%;
}

.vitrine .img {
    height: 50vh;
    width: 50vw;
}

@media only screen and (max-device-width: 768px) {
    
    .img_responsivo{
        width: 60px;
        height: 80px;
        margin-left: 20px;        
    }

    .form {
        width: 15vw;
        margin-left: 50%;
        margin-right: 5%;
        display: flex;
    }

}